@model ltbdb.Models.TagViewContainer
@using ltbdb.Models;

@{
	ViewBag.Title = "Tags";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Header = "Tags";
}

<div class="details">
	<ul>
	@foreach (TagModel tag in Model.Tags)
	{
		<li><a href="@Url.Action("view", "tag", new { id = tag.Name })">@tag.Name</a></li>
	}
	</ul>
</div>