<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		
		<link type="text/css" href="@Url.Content("~/Content/layout.css")" rel="stylesheet" media="screen" />

		@*<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>*@

		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	
		<title>@ViewBag.Title</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="header-left">
					<h1 class="header-logo">
						<a href="/">Lustiges Taschenbuch Datenbank</a>
					</h1>
				</div>
				<div class="header-right">
					<div class="header-links">
						<a href="#">Log in</a>
						<a href="#">Impressum</a>
						<a href="#">Sitemap</a>
					</div>
					<div class="header-searchbox">
						<form action="#">
							<input type="text" name="search" value="" placeholder="Suche..." />
						</form>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="content-left">
					@RenderBody()
				</div>
				<div class="content-right">
					<h2>Reihe</h2>
					<ul class="link-list">
						<li><a href="#">Alle</a></li>
						<li><a href="#">Lustiges Taschenbuch</a></li>
						<li><a href="#">Lustiges Taschenbuch - Weihnachtsedition</a></li>
						<li><a href="#">Lustiges Taschenbuch - Osteredition</a></li>
					</ul>
					<h2>Tags</h2>
					<div class="tag-cloud">
						<a href="#">Hallo</a>
						<a href="#">Welt</a>
						<a href="#">Phantomias</a>
						<a href="#">Schmutzgeier</a>
						<a href="#">Entenhausen</a>
						<a href="#">313</a>
						<a href="#">Geldspeicher</a>
						<a href="#">Münzen</a>
						<a href="#">Historisch</a>
						<a href="#">Alt</a>
						<a href="#">Neuauflage</a>
						<a href="#">Original</a>
						<a href="#">Neffen</a>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="footer-copy">Copyright &copy; 2014 by <a href="http://stichelbiene.de">stichelbiene.de</a>. All rights reserved. Version vXXX</div>
			</div>
		</div>
	</body>
</html>
