@model ltbdb.Models.CategoryModel[]
@using ltbdb.Models;

@{
   Layout = null;
}

@foreach (CategoryModel category in Model)
{
<li><a href="@Url.Action("view", "category", new { id = category.Id })">@category.Name</a></li>
}
