@model ltbdb.Models.CategoryViewContainer
@using ltbdb.Models;

@{
   Layout = null;
}

@foreach (var category in Model.Categories)
{
<li><a href="@Url.Action("view", "category", new { id = category.Id })">@category.Name</a></li>
}
