@model ltbdb.Models.AddTagModel

@{
    Layout = null;
}

<div class="tag-form">
	<form method="post" action="@Url.Action("add", "tag")" id="tag-form">
		<div>
			<input id="t" type="text" name="tag" value="@Model.Tag" placeholder="Tag" />@Html.ValidationMessage("tag")
		</div>
		<div style="padding-top: 10px;">
			<input type="hidden" name="id" value="@Model.Id" />
			<input type="submit" value="Hinzufügen" />
		</div>
	</form>
</div>