@model ltbdb.Models.TagModel[]
@using ltbdb.Models;

@{
   Layout = null;
}

<div class="tag-cloud">
@foreach (TagModel tag in Model)
{
	<a href="@Url.Action("view", "tag", new { id = tag.Id })">@tag.Name (@tag.References)</a>
}
</div>