@model ltbdb.Models.TagModel[]
@using ltbdb.Models;

@{
   Layout = null;
}

<div class="tag-cloud">
@foreach (TagModel tag in Model)
{
	<a class="tt" href="@Url.Action("view", "tag", new { id = tag.Id })" title="Refs: @tag.References">@tag.Name</a>
}
</div>