@model ltbdb.Models.TagModel[]
@using ltbdb.Models;

@{
   Layout = null;
}

@foreach (TagModel tag in Model)
{
	<li><a href="@Url.Action("view", "tag", new { id = tag.Id })" title="Referenzen: @tag.References">@tag.Name</a></li>
}