@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Fehler";
	Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="error">
	<h2>Das hat leider nicht geklappt.</h2>

	<div class="description">
		Es ist ein unerwarteter Fehler aufgetreten.
	</div>

	@if(HttpContext.Current.IsDebuggingEnabled) {
	<div class="display">
		Technische Details
	</div>
	 
	<div class="details">
		<code>
			@Model.Exception.Message
			<br /><br />
			@Model.Exception
		</code>
	</div>
	}
</div>

<script type="text/javascript">
	$(function () {
		$('.display').click(function () {
			$('.details').toggle();
		});
	});
</script>
