@model ltbdb.Models.CategoryEditContainer
@using ltbdb.Models
@{
	if (Model.Category.Id == 0) {
		ViewBag.Title = "Neue Kategorie";
		ViewBag.Headline = "Neue Kategorie";
	} else {
		ViewBag.Title = String.Format("{0}", Model.Category.Name);
		ViewBag.Headline = "Kategorie bearbeiten";
	}
	ViewBag.Menu = "category";
}

<div class="box">
	<h3>@ViewBag.Headline</h3>
	<div>
		<form action="@Url.Action("edit", "category", new { area = "admin" })" method="post" enctype="multipart/form-data" id="category-form">
			<div class="block">
				<label for="name">Name</label>
			</div>
			<div class="block">
				<input class="input" type="text" id="name" name="name" value="@Model.Category.Name" placeholder="Titel der Kategorie" /> @Html.ValidationMessage("name")
			</div>

			<div class="block">
				<input class="button-green" type="submit" value="Speichern" />
			</div>
		</form>
	</div>
</div>
