@model ltbdb.Models.CategoryViewContainer
@using ltbdb.Models;
@{
    ViewBag.Title = "Kategorien";
}

<div class="box">
	<h3>Kategorien verwalten</h3>
	<div>
		<ul class="list">
			@foreach(var category in Model.Categories) {
			<li><a href="@Url.Action("edit", "category", new { area = "admin", id = category.Id })">@category.Name</a></li>
			}
		</ul>
		<a href="@Url.Action("create", "category", new { area = "admin" })" class="button-green" style="color: #ffffff;">Neue Kategorie</a>
	</div>
</div>

<div class="box">
	<h3>Kategorie löschen</h3>
	<div>
		<p>
			Eine Kategorie löschen. Nur leere Kategorien können gelöscht werden.
		</p>
		<div class="block">
			<label for="category-delete">Kategorie</label>
		</div>
		<div class="block">
			<select class="input" id="category-delete" name="category"></select>
		</div>

		<div class="block">
			<input class="button-red" type="button" value="Löschen" id="delete" />
		</div>
	</div>
</div>

<div class="box">
	<h3>Kategorie verschieben</h3>
	<div>
		<p>
			Alle Inhalte einer Kategorie in eine andere Kategorie verschieben. Dies ist z. B. notwendig, um eine Kategorie zu löschen.
		</p>
		<div class="block">
			<label for="category-move-from">Von</label>
		</div>
		<div class="block">
			<select class="input" id="category-move-from" name="category"></select>
		</div>
		<div class="block">
			<label for="category-move-to">Nach</label>
		</div>
		<div class="block">
			<select class="input" id="category-move-to" name="category"></select>
		</div>

		<div class="block">
			<input class="button-red" type="button" value="Verschieben" id="move" />
		</div>
	</div>
</div>

<div id="delete-msg-box" style="display: none;">
	<div class="block">
		Soll diese Kategorie wirklich gelöscht werden?
	</div>
	<div class="block">
		<input id="delete-button" class="button-red" type="button" value="Löschen" />
	</div>
</div>

<div id="move-msg-box" style="display: none;">
	<div class="block">
		Soll diese Kategorie wirklich verschoben werden?
	</div>
	<div class="block">
		<input id="move-button" class="button-red" type="button" value="Löschen" />
	</div>
</div>

<script type="text/javascript">
	$(function () {
		$.ajax({
			type: 'GET',
			dataType: 'json',
			url: '/api/category/list',
			statusCode: {
				401: function () {
					alert("Not authorized.");
				}
			},
			success: function (data) {
				$.each(data, function (idx, obj) {
					if (obj.used != true) {
						$('#category-delete').append(
							$('<option></option>').val(obj.id).html(obj.name)
						);
						$('#category-move-to').append(
							$('<option></option>').val(obj.id).html(obj.name)
						);
					} else {
						$('#category-move-from').append(
							$('<option></option>').val(obj.id).html(obj.name)
						);
					}
				});
			}
		});

		var jbox_delete = new jBox('Modal', {
			overlay: true,
			closeOnClick: 'body',
			closeButton: 'title',
			onOpen: function () {
				//$('#error').text('');
				//link = this.source.attr('href');
			},
			onClose: function () {
				//link = null;
			}
		});

		$('#delete').click(function () {
			jbox_delete.setContent($('#delete-msg-box'), true).setTitle('Kategorie löschen').open();
		});

		$('#move').click(function () {
			jbox_delete.setContent($('#move-msg-box'), true).setTitle('Kategorie verschieben').open();
		});

		$('#delete-button').click(function () {
			$.ajax({
				type: 'POST',
				url: '/api/category/delete/' + $('#category-delete').val(),
				statusCode: {
					401: function () {
						alert("Not authorized.");
					},
					404: function () {
						alert("An error has occured.");
					}
				},
				success: function (data) {
					jbox_delete.close();
					location.reload(true);
				}
			});
		});

		$('#move-button').click(function () {
			$.ajax({
				type: 'POST',
				url: '/api/category/move?from=' + $('#category-move-from').val() + '&to=' + $('#category-move-to').val(),
				statusCode: {
					401: function () {
						jbox_delete.close();
						alert("Not authorized.");
					},
					404: function () {
						jbox_delete.close();
						alert("An error has occured.");
					}
				},
				success: function (data) {
					jbox_delete.close();
				}
			});
		});
	});
</script>